+++
title = "Home"
linkTitle = "Home"

+++

{{< blocks/cover title="Hi, I'm Aashay Deshpande: AI & Data Science Student!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://drive.google.com/file/d/11j_GDpXLHmqPGrZUXhb1Dlutaif8Sg-z/view?usp=sharing">
		Resume <i class="fas fa-download ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="http://adeshpande.in/contact/">
		Contact <i class="fas fa-envelope ml-2 "></i>
	</a>
	<p class="lead mt-5">I'm seeking to make valuable contribution in the field
		<br> of artificial intelligence and data science!
	</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="dark" %}}
This website is a portal to share my knowledge and experience with the world. At present, I'm looking for new opportunities to showcase my work as an intern in leading tech companies.
{{% /blocks/lead %}}

{{< blocks/section color="primary" >}}
{{% blocks/feature icon="fa fa-envelope" title="My Email!" %}}
[Please don't hesitate to get in touch with me via my email.](mailto:connect@adeshpande.in)
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-linkedin" title="Connect with me on LinkedIn!" %}}
[Let's get connected and start a new conversation.](http://www.linkedin.com/in/aashayd)
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="I'm Developing!" %}}
[I'm on GitHub, Developing new tech.](https://github.com/Aashay-08)
{{% /blocks/feature %}}

{{< /blocks/section >}}
